/* Navbar.css */

/* Background in soft yellow theme */
.navbar {
  background-color: #fff3cd; /* Bootstrap soft yellow */
}

/* All nav links black */
.navbar .nav-link {
  color: #000 !important;
  font-weight: 500;
}

/* Hover and active states */
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ff9900 !important;
  
}

/* Toggler button border black */
.navbar-toggler {
  border-color: #000;
}

/* Custom black navbar toggler icon */
/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' 
  xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='black' stroke-width='2' 
  stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 
  23h22'/%3e%3c/svg%3e");
} */