.footer-bottom {
  background-color: #000; /* Black copyright bar */
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 0; /* Remove gap */

}
/* .custom-footer {
  background-image: url("../../../public/assets/Logo.png");
  background-repeat: no-repeat;
} */
/* .custom-footer {
  background-image: url("/assets/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 200px; /* Ensures image area is visible */
/* }  */
